<%- include('page_header') %>

    <div class="container">
        Order completed 
    </div>
    <div class="text-center">
        <a href="/" class="btn btn-success"><span class="material-symbols-outlined material-icon">
            home
          </span>
          Back to Home
        </a>
    </div>

<%- include('page_footer') %>