<%- include('page_header') %>

    <div>Confirm Purchase</div>
    <form action="" method="post">
        <div>
            <label>Name</label>
            <input type="text" name="name" class="form-control" />
        </div>
        <div>
            <label>Address</label>
            <input type="text" name="address" class="form-control" />
        </div>
        <div>
            <label>Tel. number</label>
            <input type="text" name="phone" class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-info">
                Confirm Purchase
            </button>
        </div>
    </form>
    
<%- include('page_footer') %>